<table>
  <thead>
    <tr>
      <td>Id</td>
      <td><label for="edit-make-input">Make</label></td>
      <td><label for="edit-model-input">Model</label></td>
      <td><label for="edit-year-input">Year</label></td>
      <td><label for="edit-color-input">Color</label></td>
      <td><label for="edit-price-input">Price</label></td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr class="car-table-row" *ngFor="let car of cars" [car]="car" (deleteCar)="doDeleteCar($event)"></tr>
  </tbody>
</table>
